
.obsidian/hotkeys.json

.obsidian/workspace.json

.obsidian/plugins/remember-cursor-position/cursor-positions.json
.obsidian/plugins/remember-cursor-position/cursor-positions*.json

.pandoc/

.trash/

# Ignore all these extension by default
*.m
*.md
*.pptx
*.zip
*.pdf

# Ignore all these files
*hw*
*submissions*

# Include specific files
!LICENSE.md
!README.md
!preamble.md
!AE_544_LecNote*.md

# This not is not used for teaching. A powerpoint slide is used as instead. 
AE_544_LecNote00__Introduction.md

# Ignore all homework and solutions as they are provided as LaTeX from Canvas assignments.
*Homework*

# Ignore the project folder as they are provided as LaTeX from Canvas assignments.
Projects/

# Textbook is supposed to be downloaded through ERAU library.
analytical-mechanics-of-space-systems-4nbsped-1624105211-9781624105210_compress.pdf

# Solution manual will not be provided.
Analytical Mechanics of Space Systems - Solution Manual.pdf


